<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header"></div>
        <ul class="nav navbar-nav">
              <li><a href="#" routerLink="home">Home</a></li>
              <li><a href="#" routerLink="admin">Admin</a></li>
              <li><a href="#" routerLink="products">Products</a></li>
              <li><a href="#" routerLink="">about Us</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
